body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  /* background-color: #a38d8d; */
  /* align-items: center; */
  justify-content: center;
  
  
  
}

.app {
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}
